<div id="edit-entry">
    <form id="edit-entry-form" method="POST">
        <input type="text" name="entryTitle" id="entry-title" placeholder="Enter title" spellcheck="true" value>
        <textarea name="entryContent" id="entry-content" placeholder="Enter text" cols="100" rows="11" spellcheck="true"></textarea>
    </form>
</div>