<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"/>
	<!-- <meta name="google-signin-client_id" content="309978492743-ereano57g6etdgrk4ebno3tge401fjt1.apps.googleusercontent.com"> -->
	<meta name="google-signin-client_id" content="214746217802-jg3f9mu6oflodrvhott42cjj7ij6palc.apps.googleusercontent.com">
	<title>Welcome to Memory Note!</title>
	<link rel="stylesheet" type="text/css" href="welcome.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
</head>

<body>

	<section>
	<h1>Memory Note</h1>
	<% if (success && success.length > 0) { %>
		<div id="success-msg" role="alert">
			<%= success %>
		</div>
	<% } %>
	<% if (warning && warning.length > 0) { %>
		<div id="warning-msg" role="alert">
			<%= warning %>
		</div>
	<% } %>

	<div class="login">
		<p>Welcome to MemoryNote!</p>
		<form action="/users/login" method="POST">
			<label for="femail" >Enter email address:</label>
			<input type="email" id="femail" name="user[femail]" placeholder="Enter email address" required>
			<label for="fpwd" >Enter password:</label>
			<input type="password" id="fpwd" name="user[fpwd]" placeholder="Enter password" required>
            <label>If you already have an account</label>
            <br>
            <button type="submit" id="btn-login">Login</button>
		</form>
		<p>or<p>
		<div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true" data-align="center" align="center" data-theme="dark"></div>
		<p>or<p>
		<p>If you don't have an account<p>
		<button class="btn-create-account">Create an account</button>
	</div>
	</section>

   	<script src="/javascripts/lib/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="/javascripts/welcome.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
<!--    <script type="text/javascript" src="homepage.js"></script>-->
   <!-- <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script> -->
</body>

</html>
